<div layout="column" layout-fill>
    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$media('gt-md')">
            <md-content class="md-padding">
                <md-list>
                    <md-item ng-repeat="menuItem in menuItems">
                        <md-item-content>
                            <md-button class="md-tile-content" ui-href="{{menuItem.sref}}">
                                {{menuItem.Title}}
                            </md-button>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </md-sidenav>

        <md-content flex>
            <md-toolbar>
                <section class="md-toolbar-tools" layout-sm="column" layout="row" layout-align="space-between center">
                    <div>Title!</div>
                    <section>
                        <md-button class="md-raised">Log in</md-button>
                    </section>
                </section>
            </md-toolbar>

            <div ui-view>
            </div>
        </md-content>
    </section>
</div>
